.article-details {
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  margin: 0 auto;
}

.article-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
