.modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.modal.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0232c2;
}

.modal.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;

  --primary-color: #0232c2;
  --secondary-color: #0452ff;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  color: var(--primary-color);

  transition: transform 0.3s;
  transform: scale(0.5);
  max-width: 60%;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.is-closing {
  .content {
    transform: scale(0);
  }
}
