.app_purple_theme {
  --bg-color: #F8F4FB;
  --inverted-bg-color: #6c3487;

  --primary-color: #2F296A;
  --secondary-color: #F8F4FB;
  --inverted-primary-color: #F8F4FB;
  --inverted-secondary-color: #2F296A;
}
